In [1]:
#importing all the libraries
import pandas as pd
import numpy as np
import openpyxl

## Average of tax  costs

In [2]:
#Reading the excel file as dataframe and checking the first n rows
file df1=pd.read_excel("TaxesVA.xlsx")
df1.head()

,Family Type,Adult(s),Infant(s),Preshooler(s),Schoolager(s),Teenager(s),County,Taxes,Earned_Income_Tax_Credit,Child_Care_Tax_Credit,Child_Tax_Credit,Total
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,276.02,0.00,0.0,0.00,276.02
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,585.32,-30.28,-55.0,-166.67,333.37
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,503.54,-75.83,-60.0,-166.67,201.04
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,450.64,-106.17,-62.5,-166.67,115.30
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,343.10,-178.93,0.0,-166.67,-2.50

In [7]:
#dropping the unwanted columns and replacing not available values with 0
df1=pd.read_excel("TaxesVA.xlsx")
df1.drop(['Taxes','Earned_Income_Tax_Credit ','Child_Care_Tax_Credit ','Child_Tax_Credit '], axis=1, inplace=True)
df1.columns = ['Family','Adult','Infant','Preschooler','Schoolager','Teenager','County','Total']
for i in ['Adult','Infant','Preschooler','Schoolager','Teenager']:
    df1[i]=df1[i].fillna(0)
df1.head()

,Family,Adult,Infant,Preschooler,Schoolager,Teenager,County,Total
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,276.02
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,333.37
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,201.04
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,115.30
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,-2.50

In [8]:
#checking the datatypes of each column
df1.dtypes

Family          object
Adult            int64
Infant           int64
Preschooler    float64
Schoolager     float64
Teenager       float64
County          object
Total          float64
dtype: object

In [9]:
#Getting the length of dataframe
len(df1.Adult)

95627

In [10]:
#Finding the total count of a family by adding the members and storing it in Total_pop
total_pop=(df1.Adult + df1.Infant + df1.Preschooler + df1.Schoolager + df1.Teenager)
df1['Total_pop']=total_pop
df1.head()

,Family,Adult,Infant,Preschooler,Schoolager,Teenager,County,Total,Total_pop
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,276.02,1.0
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,333.37,2.0
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,201.04,2.0
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,115.30,2.0
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,-2.50,2.0

In [15]:
df_copy=df1.copy()
df_copy.head()

,Family,Adult,Infant,Preschooler,Schoolager,Teenager,County,Total,Total_pop
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,276.02,1.0
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,333.37,2.0
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,201.04,2.0
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,115.30,2.0
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,-2.50,2.0

In [23]:
n=df_copy['Total_pop'].unique()
ds_count=df_copy['Total_pop'].value_counts()
ds_count=ds_count.sort_index()[:7]
ds_count

1.0      133
2.0      665
3.0     1995
4.0     4655
5.0     8911
6.0    15162
7.0    23807
Name: Total_pop, dtype: int64

In [22]:
list(total_pop)==list(total_pop).sort()

False

In [11]:
county= df1['County'].unique()
len(county)

133

In [12]:
county_df1=df1.loc[df1['County']=='Accomack County']
county_df=county_df1.sort_values(by='Total_pop')
l1=list(county_df.Total_pop)
l2=l1
l1.sort()
l2==l1

True

In [ ]:
### Misc costs
"""
df_tax=county_df.loc[:, 'Miscellaneous costs':]
df_taxgrouped=df_tax.groupby(['Total_pop']).mean()
df_taxgrouped.iloc[:7,:1]
"""

In [25]:
total_cnt=[]
for cnt in county:
    county_df1=df1.loc[df1['County']==cnt]
    county_df=county_df1.sort_values(by='Total_pop')
    
    df_tax=county_df.loc[:, 'Total':]
    df_taxgrouped=df_tax.groupby(['Total_pop']).mean()
    total_cnt.append(list(df_taxgrouped.iloc[:7,:1]['Total']))
print(len(total_cnt), len(total_cnt[0]))

133 7

In [26]:
df_final=pd.DataFrame(total_cnt, columns=['HH1','HH2','HH3','HH4','HH5','HH6','HH7'])
df_final=df_final.round(2)
df_final.insert(0,'County',county)
df_final.head(10)

,County,HH1,HH2,HH3,HH4,HH5,HH6,HH7
0,Accomack County,276.02,214.20,158.50,271.41,320.19,359.10,369.25
1,Albemarle County,470.88,654.83,704.58,943.28,1128.07,1493.08,1767.35
2,Alexandria city,690.36,1093.50,1464.68,2098.07,2698.33,3634.47,4402.82
3,Alleghany County,256.10,225.84,190.08,290.47,337.40,437.49,476.42
4,Amelia County,354.94,366.38,307.92,411.89,446.08,551.62,584.25
5,Amherst County,317.45,322.24,260.95,358.78,403.85,511.76,551.70
6,Appomattox County,275.74,202.28,130.67,253.67,302.78,381.13,400.52
7,Arlington County,765.96,1273.72,1721.75,2472.47,3222.80,4313.97,5197.39
8,Augusta County,318.52,419.61,412.18,560.73,665.52,831.54,931.32
9,Bath County,260.69,256.98,236.63,345.11,418.49,524.43,581.43

In [28]:
df_final.to_excel('total_tax_avg.xlsx')

In [29]:
ds_count.to_csv('HH_count.csv', index=True)