In [73]:
import pandas as pd
import os
from tqdm import tqdm
from shapely.geometry import Point

In [6]:
to_parse = [v for v in os.listdir('../data/temp') if v.split('_')[0]=='01073' and v.split('_')[-1]=='geocoded.csv']
print(len(to_parse))

20

In [7]:
to_parse

['01073_chunk_19_geocoded.csv',
 '01073_chunk_18_geocoded.csv',
 '01073_chunk_15_geocoded.csv',
 '01073_chunk_12_geocoded.csv',
 '01073_chunk_07_geocoded.csv',
 '01073_chunk_00_geocoded.csv',
 '01073_chunk_01_geocoded.csv',
 '01073_chunk_06_geocoded.csv',
 '01073_chunk_13_geocoded.csv',
 '01073_chunk_14_geocoded.csv',
 '01073_chunk_04_geocoded.csv',
 '01073_chunk_03_geocoded.csv',
 '01073_chunk_16_geocoded.csv',
 '01073_chunk_11_geocoded.csv',
 '01073_chunk_10_geocoded.csv',
 '01073_chunk_17_geocoded.csv',
 '01073_chunk_02_geocoded.csv',
 '01073_chunk_05_geocoded.csv',
 '01073_chunk_08_geocoded.csv',
 '01073_chunk_09_geocoded.csv']

In [10]:
with open(os.path.join('../data/temp', to_parse[0]), 'r') as f:
    print(f.readline())
    print(f.readline())

"","street, county, state, zip","No_Match"

"195509","1129  ASHBURY SQ  VESTAVIA HILLS, Jefferson County, AL, 352165280","Match","Non_Exact","1129 ASHBURY SQ, BIRMINGHAM, AL, 35216","-86.79118059399997,33.398963406000064","81660786","L"

In [24]:
print(to_parse[1])

01073_chunk_18_geocoded.csv

# Test fix malformed header

In [30]:
# filepath = os.path.join('../data/temp', to_parse[1])

# with open(filepath, 'r', encoding='utf-8') as file:
#     data = file.readlines()

# print(len(data))
    
# data[0] = "index,input,match,non_exact,street,coordinate,tiger,lr\n"

# with open(filepath, 'w', encoding='utf-8') as file:
#     file.writelines(data)

9901

In [33]:
# df = pd.read_csv(filepath, dtype={'tiger': object})
# df

,index,input,match,non_exact,street,coordinate,tiger,lr
0,184855,"1359 OXFORD MANOR LN BIRMINGHAM, Jefferson C...",Match,Non_Exact,"1359 OXFORD MANOR LN, MEADOWBROOK, AL, 35242","-86.67808639299994,33.46482120300004",628002081,L
1,183524,"4317 MOUNTAINDALE RD BIRMINGHAM, Jefferson C...",Match,Non_Exact,"4317 MOUNTAINDALE RD, BIRMINGHAM, AL, 35213","-86.72602415199998,33.51632338100006",81587404,R
2,184854,"1376 OXFORD MANOR LN BIRMINGHAM, Jefferson C...",Match,Non_Exact,"1376 OXFORD MANOR LN, MEADOWBROOK, AL, 35242","-86.67810299999996,33.46459699500008",628002081,R
3,183521,"1321 DUNSTON AVE BIRMINGHAM, Jefferson Count...",Match,Non_Exact,"1321 DUNSTON AVE, BIRMINGHAM, AL, 35213","-86.72958962699994,33.51467648200003",81587365,R
4,184853,"3933 COTSWOLD DR S BIRMINGHAM, Jefferson Coun...",Match,Non_Exact,"3933 COTSWOLD DR S, MEADOWBROOK, AL, 35242","-86.67677141299998,33.46420498700007",651162375,R
...,...,...,...,...,...,...,...,...
9895,187597,"3728 MOUNTAIN PARK DR MOUNTAIN BRK, Jefferso...",Match,Non_Exact,"3728 MOUNTAIN PARK DR, BIRMINGHAM, AL, 35213","-86.75023637499999,33.497205061000045",81705756,L
9896,186273,"4839 FULMAR DR IRONDALE, Jefferson County, A...",Match,Non_Exact,"4839 FULMAR DR, BIRMINGHAM, AL, 35210","-86.71341527899995,33.517272200000036",81587629,R
9897,186272,"4829 FULMAR DR IRONDALE, Jefferson County, A...",Match,Non_Exact,"4829 FULMAR DR, BIRMINGHAM, AL, 35210","-86.71366684099996,33.51710281700008",81587628,R
9898,186271,"5008 JUIATA DR IRONDALE, Jefferson County, A...",Match,Non_Exact,"5008 JUIATA DR, BIRMINGHAM, AL, 35210","-86.71088422999998,33.517641954000055",81587651,L
9899,186270,"4208 ANTIETAM DR MOUNTAIN BRK, Jefferson Cou...",Match,Non_Exact,"4208 ANTIETAM DR, BIRMINGHAM, AL, 35213","-86.72765439699998,33.50384747700008",81587692,L

In [35]:
# df=df[['match', 'non_exact', 'street', 'coordinate']]
# df

,match,non_exact,street,coordinate
0,Match,Non_Exact,"1359 OXFORD MANOR LN, MEADOWBROOK, AL, 35242","-86.67808639299994,33.46482120300004"
1,Match,Non_Exact,"4317 MOUNTAINDALE RD, BIRMINGHAM, AL, 35213","-86.72602415199998,33.51632338100006"
2,Match,Non_Exact,"1376 OXFORD MANOR LN, MEADOWBROOK, AL, 35242","-86.67810299999996,33.46459699500008"
3,Match,Non_Exact,"1321 DUNSTON AVE, BIRMINGHAM, AL, 35213","-86.72958962699994,33.51467648200003"
4,Match,Non_Exact,"3933 COTSWOLD DR S, MEADOWBROOK, AL, 35242","-86.67677141299998,33.46420498700007"
...,...,...,...,...
9895,Match,Non_Exact,"3728 MOUNTAIN PARK DR, BIRMINGHAM, AL, 35213","-86.75023637499999,33.497205061000045"
9896,Match,Non_Exact,"4839 FULMAR DR, BIRMINGHAM, AL, 35210","-86.71341527899995,33.517272200000036"
9897,Match,Non_Exact,"4829 FULMAR DR, BIRMINGHAM, AL, 35210","-86.71366684099996,33.51710281700008"
9898,Match,Non_Exact,"5008 JUIATA DR, BIRMINGHAM, AL, 35210","-86.71088422999998,33.517641954000055"
9899,Match,Non_Exact,"4208 ANTIETAM DR, BIRMINGHAM, AL, 35213","-86.72765439699998,33.50384747700008"

# Fix combine malformed files

In [116]:
dfs = []
for file in tqdm(to_parse):
    filepath = os.path.join('../data/temp', file)

    with open(filepath, 'r', encoding='utf-8') as file:
        data = file.readlines()
        
    data[0] = "index,input,match,non_exact,street,coordinate,tiger,lr\n"

    with open(filepath, 'w', encoding='utf-8') as file:
        file.writelines(data)
    df = pd.read_csv(filepath, dtype={'tiger': object, 'coordinate': object})
    df = df[['match', 'non_exact', 'street', 'coordinate']]       
    dfs.append(df)
tdf = pd.concat(dfs)
tdf= tdf[tdf['coordinate'].notna()]
tdf

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [00:00<00:00, 47.70it/s]

,match,non_exact,street,coordinate
0,Match,Non_Exact,"1129 ASHBURY SQ, BIRMINGHAM, AL, 35216","-86.79118059399997,33.398963406000064"
1,Match,Non_Exact,"1116 ASHBURY SQ, BIRMINGHAM, AL, 35216","-86.79124761699995,33.39900645500006"
2,Match,Non_Exact,"1012 9TH AVE, PLEASANT GROVE, AL, 35127","-86.97925158999999,33.48431098800006"
3,Match,Non_Exact,"2244 CHAPEL HILL RD, BIRMINGHAM, AL, 35216","-86.79182244699996,33.401157770000054"
4,Match,Non_Exact,"1009 9TH ST, PLEASANT GROVE, AL, 35127","-86.98042407799994,33.487289660000044"
...,...,...,...,...
9890,Match,Non_Exact,"2615 AVE F, BIRMINGHAM, AL, 35218","-86.90077405299996,33.50619976300004"
9893,Match,Non_Exact,"3004 AVE D, BIRMINGHAM, AL, 35218","-86.90529643199994,33.504400831000055"
9895,Match,Non_Exact,"3116 AVE C, BIRMINGHAM, AL, 35218","-86.90703615999996,33.50403042500005"
9897,Match,Non_Exact,"2822 AVE F, BIRMINGHAM, AL, 35218","-86.90192089199996,33.504759928000055"
9899,Match,Non_Exact,"3016 AVE D, BIRMINGHAM, AL, 35218","-86.90536332499994,33.50431560200008"

In [117]:
def s2p(s):
    try: 
        return (s.split(',')[0], s.split(',')[1])
    except Exception as e:
        return e

In [118]:
tdf['coordinate'] = tdf['coordinate'].apply(lambda x: s2p(x))

In [119]:
tdf = tdf[tdf['coordinate'].notna()]
tdf

,match,non_exact,street,coordinate
0,Match,Non_Exact,"1129 ASHBURY SQ, BIRMINGHAM, AL, 35216","(-86.79118059399997, 33.398963406000064)"
1,Match,Non_Exact,"1116 ASHBURY SQ, BIRMINGHAM, AL, 35216","(-86.79124761699995, 33.39900645500006)"
2,Match,Non_Exact,"1012 9TH AVE, PLEASANT GROVE, AL, 35127","(-86.97925158999999, 33.48431098800006)"
3,Match,Non_Exact,"2244 CHAPEL HILL RD, BIRMINGHAM, AL, 35216","(-86.79182244699996, 33.401157770000054)"
4,Match,Non_Exact,"1009 9TH ST, PLEASANT GROVE, AL, 35127","(-86.98042407799994, 33.487289660000044)"
...,...,...,...,...
9890,Match,Non_Exact,"2615 AVE F, BIRMINGHAM, AL, 35218","(-86.90077405299996, 33.50619976300004)"
9893,Match,Non_Exact,"3004 AVE D, BIRMINGHAM, AL, 35218","(-86.90529643199994, 33.504400831000055)"
9895,Match,Non_Exact,"3116 AVE C, BIRMINGHAM, AL, 35218","(-86.90703615999996, 33.50403042500005)"
9897,Match,Non_Exact,"2822 AVE F, BIRMINGHAM, AL, 35218","(-86.90192089199996, 33.504759928000055)"
9899,Match,Non_Exact,"3016 AVE D, BIRMINGHAM, AL, 35218","(-86.90536332499994, 33.50431560200008)"

In [121]:
tdf['lon'] = tdf['coordinate'].apply(lambda x: x[0])
tdf['lat'] = tdf['coordinate'].apply(lambda x: x[1])
tdf

/var/folders/31/_flrh_251y578sg72lx1yb780000gn/T/ipykernel_74741/65556285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tdf['lon'] = tdf['coordinate'].apply(lambda x: x[0])

,street,coordinate,lon,lat
0,"1129 ASHBURY SQ, BIRMINGHAM, AL, 35216","(-86.79118059399997, 33.398963406000064)",-86.79118059399997,33.398963406000064
1,"1116 ASHBURY SQ, BIRMINGHAM, AL, 35216","(-86.79124761699995, 33.39900645500006)",-86.79124761699995,33.39900645500006
2,"1012 9TH AVE, PLEASANT GROVE, AL, 35127","(-86.97925158999999, 33.48431098800006)",-86.97925158999999,33.48431098800006
3,"2244 CHAPEL HILL RD, BIRMINGHAM, AL, 35216","(-86.79182244699996, 33.401157770000054)",-86.79182244699996,33.401157770000054
4,"1009 9TH ST, PLEASANT GROVE, AL, 35127","(-86.98042407799994, 33.487289660000044)",-86.98042407799994,33.487289660000044
...,...,...,...,...
9890,"2615 AVE F, BIRMINGHAM, AL, 35218","(-86.90077405299996, 33.50619976300004)",-86.90077405299996,33.50619976300004
9893,"3004 AVE D, BIRMINGHAM, AL, 35218","(-86.90529643199994, 33.504400831000055)",-86.90529643199994,33.504400831000055
9895,"3116 AVE C, BIRMINGHAM, AL, 35218","(-86.90703615999996, 33.50403042500005)",-86.90703615999996,33.50403042500005
9897,"2822 AVE F, BIRMINGHAM, AL, 35218","(-86.90192089199996, 33.504759928000055)",-86.90192089199996,33.504759928000055
9899,"3016 AVE D, BIRMINGHAM, AL, 35218","(-86.90536332499994, 33.50431560200008)",-86.90536332499994,33.50431560200008

In [123]:
tdf = tdf[['street', 'lon', 'lat']]
tdf

,street,lon,lat
0,"1129 ASHBURY SQ, BIRMINGHAM, AL, 35216",-86.79118059399997,33.398963406000064
1,"1116 ASHBURY SQ, BIRMINGHAM, AL, 35216",-86.79124761699995,33.39900645500006
2,"1012 9TH AVE, PLEASANT GROVE, AL, 35127",-86.97925158999999,33.48431098800006
3,"2244 CHAPEL HILL RD, BIRMINGHAM, AL, 35216",-86.79182244699996,33.401157770000054
4,"1009 9TH ST, PLEASANT GROVE, AL, 35127",-86.98042407799994,33.487289660000044
...,...,...,...
9890,"2615 AVE F, BIRMINGHAM, AL, 35218",-86.90077405299996,33.50619976300004
9893,"3004 AVE D, BIRMINGHAM, AL, 35218",-86.90529643199994,33.504400831000055
9895,"3116 AVE C, BIRMINGHAM, AL, 35218",-86.90703615999996,33.50403042500005
9897,"2822 AVE F, BIRMINGHAM, AL, 35218",-86.90192089199996,33.504759928000055
9899,"3016 AVE D, BIRMINGHAM, AL, 35218",-86.90536332499994,33.50431560200008

In [124]:
tdf.to_csv('../data/temp/01073_points_address.csv', index=False)